* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #181818;
}

h1 {
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  display: table-row;
}

h2 {
  background-color: #008CBA;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 611px;
  margin: auto;
  margin-top: 50px;
  color: white;
  border-radius: 15px;
}

#grille {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 611px;
  margin: 0 auto;
  background-color: white;
}

#joueurAffichage {
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
}

.container {
  text-align: center;
}

table {
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;

}

.separation {
  border-right: 4px solid #333333;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 5px;
  text-align: center;

}

td {
  font-size: 30px;
}

.case {
  width: 200px;
  height: 200px;
  border: 2px solid #333333;
  cursor: pointer;
  line-height: 200px;
  font-size: 60px;
}

.cocherX {
  background-image: url(../images/imageX.jpg);
}

.cocherO {
  background-image: url(../images/imageO.jpg);
}

.resetButton {
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}

.resetButton:hover {
  background-color: #181818;
  box-shadow: none;
  border: 5px solid #ff615f;
}

.rouge {
  background-color: #ff615f;
  box-shadow: 0px 7px #b24443;

}

.bleu {
  background-color: #3ec5f3;
  box-shadow: 0px 7px #257f9e;
}


.pop-bg {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pop-content {
  width: 450px;
  height: 150px;
  position: absolute;
  border-radius: 5px;
  display: table;
  background-color: rgb(0, 0, 0, 0.3);


}

.popButton {
  background-color: white;
  border: none;
  color: #181818;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  display: table-row;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 3px #1818187a;

}

.popButton:hover {
  background-color: #181818;
  color: white;
  box-shadow: 0px 3px #ffffff7a;

}